.feed{
  display: flex;
  justify-content: center;
}
.feed-list{
  width: 80%;
  list-style-type: none;
  min-height: 500px;
  margin: 0;
  padding: 0;
}
.feed-header{
  text-align: center;
}
@media (max-width: 480px) {
}

@media (min-width: 481px){
}
